<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/line-awesome/1.3.0/line-awesome/css/line-awesome.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{%static 'style.css'%}">
    <link rel="stylesheet" href="{%static 'custom.css'%}">
    <title>Gig Overview </title>
</head>

<body style="background-color: #f7f7f7;">
    <section class="card py-3 w-75 m-auto">
        <div class="navsubbar row w-100 px-3 m-auto d-flex justify-content-between ">
            <div class="w-75  d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center justify-content-center ">
                    <span class="navsubnumbers d-flex align-items-center justify-content-center">
                        1
                    </span>
                    <span>
                        <a href="#" class="px-2">Overview</a>
                    </span>
                    <span>
                        <p class="m-0"><i class="arrow right"></i></p>
                    </span>
                </div>
                <div class="d-flex align-items-center justify-content-center">
                    <span class="navsubnumbers d-flex align-items-center justify-content-center">
                        2
                    </span>
                    <span>
                        <a href="#" class="px-2">Pricing</a>
                    </span>
                    <span>
                        <p class="m-0"><i class="arrow right"></i></p>
                    </span>
                </div>
                <div class="d-flex align-items-center justify-content-center">
                    <span class="navsubnumbers d-flex align-items-center justify-content-center">
                        3
                    </span>
                    <span>
                        <a href="#" class="px-2">Description</a>
                    </span>
                    <span>
                        <p class="m-0"><i class="arrow right"></i></p>
                    </span>
                </div>
                <div class="d-flex align-items-center justify-content-center">
                    <span class="navsubnumbers d-flex align-items-center justify-content-center">
                        5
                    </span>
                    <span>
                        <a href="#" class="px-2">Gallery</a>
                    </span>
                    <span>
                        <p class="m-0"><i class="arrow right"></i></p>
                    </span>
                </div>
                <div class="d-flex align-items-center justify-content-center">
                    <span class="navsubnumbers d-flex align-items-center justify-content-center">
                        6
                    </span>
                    <span>
                        <a href="#" class="px-2">Publish</a>
                    </span>
                    <span>
                        <p class="m-0"><i class="arrow right"></i></p>
                    </span>
                </div>
            </div>
            <div>
                <a href="#">Send </a>
            </div>
        </div>
    </section>
    <section class="my_125">
        <form action="" method="POST">

            {% csrf_token %}
            <div class=" card w-50 align-items-center d-flex m-auto  py-4">
                <div class=" d-flex w-100 px-5 py-2">
                    <div class="w-25 px-3">
                        <h3>GIg Title</h3>
                        <p>As your Gig storefront, your title is the most important place to include keywords that
                            buyers would likely use to search for a service like yours.</p>
                    </div>
                    <div class="w-75">
                        <input type="text" name="gigtitle" placeholder="I will" class="w-100 p-4 card titleinput">
                    </div>
                </div>
                <div class=" d-flex w-100 px-5 py-2">
                    <div class="w-25 px-3">
                        <h3>Category</h3>
                        <p>Choose the category and sub-category most suitable for your Gig.</p>
                    </div>
                    <div class="w-75 d-flex">
                        <div class="col-md-6 pl-0  ">
                            <select class=" w-100 p-3 ddlborder" name="gigcategory">
                                <option value="0">SELECT A CATEGORY</option>
                                <option value="Pakistan">Pakistan</option>
                                <option value="India">India</option>
                                <option value="Bangladesh">Bangladesh</option>
                                <option value="Iran">Iran</option>
                                <option value="Saudia Arabia">Saudia Arabia</option>
                            </select>
                        </div>
                        <div class="col-md-6 p-0">
                            <select class=" w-100 p-3 ddlborder" name="gigsubcategory">
                                <option value="0">SELECT A SUBCATEGORY</option>
                                <option value="Pakistan">Pakistan</option>
                                <option value="India">India</option>
                                <option value="Bangladesh">Bangladesh</option>
                                <option value="Iran">Iran</option>
                                <option value="Saudia Arabia">Saudia Arabia</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class=" d-flex w-100 px-5 py-2">
                    <div class="w-25 px-3">
                        <h3>Search Tags</h3>
                        <p>Tag your Gig with buzz words that are relevant to the services you offer. Use all 5 tags to
                            get found.</p>
                    </div>
                    <div class="w-75">
                        <div class="w-50">
                            <h3>Positive Keywords</h3>
                            <p>Enter search terms you feel your buyers will use when looking for your service.</p>
                        </div>
                        <input type="text" class="w-100 p-3 card titleinput my-0" name="gigkeywords">
                        5 tags maximum. Use letters and numbers only.
                    </div>
                </div>
            </div>

            <div class="w-50 d-flex m-auto justify-content-end">
               
                <button type="submit" class="float-right p-3 border-0 my-3 bookbtn sellerbtn">
                    Save & Continue</button>
            </div>
        </form>
    </section>
</body>

</html>